spring.application.name=chatop
app.jwtSecret=YOUR_JWT_SECRET
app.jwtExpirationInMs=86400000
spring.datasource.url=jdbc:mysql://localhost:3306/chatop
spring.datasource.username=YOUR_USERNAME
spring.datasource.password=YOUR_PASSWORD